@model CryptoTec.Models.TodoItem
@{ TodoItem todo = ViewBag.Todo; }
<div>
    @using (Html.BeginForm("EditTodo", "User", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(t => t.Title)
            @Html.TextBoxFor(t => t.Title, new { Value = todo.Title })
        </div>
        <div>
            @Html.LabelFor(t => t.Description)
            @Html.TextBoxFor(t => t.Description, new { Value = todo.Description })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save changes" asp-controller="User" asp-action="EditTodo" asp-route-id="@todo.Id" />
            </div>
        </div>
    }
</div>

