@model CryptoTec.Models.ChangePassword
<div>

    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div>
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>

        <div>
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>

        <div>
            @Html.LabelFor(m => m.ComparePassword, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.ComparePassword, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change Password" />
            </div>
        </div>
    }
</div>